.App-header {
  background-color: #6acac5;
  height: 100vh; /* Ensure it fits the viewport height */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  overflow: hidden; /* Prevent scrolling */
}

.right-side {
  width: 50%;
  height: 100%; /* Ensure it fits the viewport height */
  padding: 20px 0 20px 20px; /* Remove right padding */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  z-index: 1;
  text-align: center; /* Center text */
  position: absolute;
  right: 0; /* Ensure it stays on the right side */
  overflow: hidden; /* Prevent content overflow */
  color: black; /* Change text color to black */
}

.right-side h3 {
  font-size: 1.2em; /* Make h3 smaller */
  color: black; /* Change text color to black */
  line-height: 1.1;
  font-weight: 900; /* Make h3 font more bold */
  padding: 20px 0 0 0;
  margin: 0 0 20px 0;
}

.right-side h1 {
  font-size: 2.5em; /* Adjust font size */
  margin: 20px 0; /* Add more space above and below */
  font-weight: 1000; /* Make h1 font more bold */
  color: black; /* Change text color to black */
}

.right-side hr {
  width: 90%; /* Make it smaller horizontally */
  border: 0.5px solid #4a4a4a; /* Darker grey */
  margin: 10px 0;
}

.right-side .logo-image {
  width: 40%; /* Adjust width to make the logo smaller */
  margin: 20px 0;
}

.right-side p {
  font-size: 0.7em; /* Make paragraph text a bit bigger */
  margin: 20px 0 0;
  color: black; /* Change text color to black */
  max-width: 60%; /* Add max width to center text */
  font-family: 'Georgia', serif; /* Use a better serif font */
  font-weight: 500; /* Increase font weight */
}

.right-side .social-icons {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  margin-top: auto; /* Push to the bottom */
  margin-bottom: 30px; /* Add bottom margin */
  gap: 25px; /* Add horizontal spacing between social buttons */
}

.right-side .social-icons a {
  text-decoration: none; /* Remove underlining */
}

.right-side .social-icon {
  margin: 0;
  width: 40px;
  height: 40px; /* Ensure all social icons have the same height */
  font-size: 1.2em;
  color: black;
  display: flex;
  align-items: center; /* Center icon content vertically */
  justify-content: center; /* Center icon content horizontally */
  transition:
    transform 0.3s,
    color 0.3s,
    fill 0.3s; /* Add smooth animation */
  cursor: pointer; /* Add pointer cursor */
}

.right-side .social-icon:hover {
  transform: scale(1.1); /* Grow in size */
}

.right-side .social-icon.itch {
  height: 30px; /* Ensure the itch.io icon has the same height */
  width: auto; /* Maintain aspect ratio */
  color: black;
  position: relative;
  z-index: 1;
}

.right-side .social-icon.itch:hover {
  filter: invert(41%) sepia(42%) saturate(4382%) hue-rotate(335deg) brightness(131%)
    contrast(96%);
}

.right-side .social-icon.fa-instagram:hover {
  color: #e4405f; /* Instagram main color */
}

.right-side .social-icon.fa-threads:hover {
  color: #000000; /* Threads main color */
}

.right-side .social-icon.fa-bluesky:hover {
  color: #00acee; /* Bluesky main color */
}

.right-side .social-icon.fa-youtube:hover {
  color: #ff0000; /* YouTube main color */
}

.right-side .social-icon.fa-tiktok:hover {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
}

.right-side .social-icon.fa-linkedin:hover {
  color: #0077b5; /* LinkedIn main color */
}

.right-side .social-icon.fa-envelope:hover {
  color: #ff8c00; /* Darker yellow color for email */
}

.half-page-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50vw;
  object-fit: cover;
  object-position: 70% center;
  z-index: 0;
}

.floating-ghost {
  position: absolute;
  top: 40%;
  left: -20%; /* Start further off-screen to the left */
  width: 300px; /* Scale up the ghost */
  height: auto;
  z-index: 2; /* Ensure the ghost is above all text and images */
  opacity: 0.8; /* Make the ghost more transparent */
  animation: float 30s infinite linear, blur-out 30s infinite linear; /* Increase duration for slower movement and add blur-out animation */
  transition: filter 0.5s; /* Add smooth transition for blur effect */
}

.floating-ghost:hover {
  filter: blur(10px);
}

@keyframes float {
  0% {
    transform: translateX(0vw) rotate(0deg); /* Start off-screen to the left */
  }
  50% {
    transform: translateX(60vw) rotate(45deg); /* Move off-screen to the right and rotate halfway */
  }
  100% {
    transform: translateX(130vw) rotate(90deg); /* Move further off-screen to the right and complete rotation */
  }
}
